body {
    background-color: antiquewhite;
    line-height: 40px;
}

header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    background-color:gray;
    margin:40px auto 40px auto;
    padding:20px;
}

.div1 {
    float: left;
    width:50%;
}
.img1 {
    float: left;
    width: 50%;

}

section{
    padding:10px;
    margin: 20px;
}

aside {
    float: right;
    padding:0px 0px 0px 80px;
}
